<div id="Menu_ngang">
    <div id="Menu_width">
        <ul class="ul1">
            <li class="li1 Homes"><a href="/ban-tin-khuyen-mai" title="Trang chủ" rel="nofollow" style="color:#F00">Khuyến mại</a></li>
            @Html.Raw(ViewBag.chuoi)
        </ul>
    </div>
</div>
