@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<h2>Hiện tại trang đích của khách hàng không thể vào được. Khách hàng vui lòng chờ đợi sau 5s website sẽ tự chuyển về trang mới</h2>
